<!DOCTYPE html>
<html>
<head>
  <title>Study Tool</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Welcome to Study Organization Tool</h1>

  <div style="margin-top: 20px;">
    <a href="/log"><button>Log a Study Session</button></a>
    <a href="/sessions"><button>View Study Sessions</button></a>
  </div>

    <div class="card">
    <a href="/joke"><button>Need a Laugh? Get a Joke</button></a>
  </div>
</body>
</html>
