<!DOCTYPE html>
<html>
<head>
  <title>Random Joke</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Here’s another joke!</h1>
  <div class="card">
    <p><%= joke.setup %></p>
    <strong><%= joke.punchline %></strong>
  </div>
  <a href="/">Back to Home</a>
</body>
</html>
