<!DOCTYPE html>
<html>
<head>
  <title>Session Submitted</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Thank You!</h1>
  <p>Your study session has been logged.</p>
  <p>Scan the QR code below to view your sessions on another device:</p>
  <img src="https://qrtag.net/api/qr_6.svg?url=<%= host %>/sessions" alt="QR Code to View Sessions">
  <br>
  <a href="/log">Log Another Session</a><br>
  <a href="/">Back to Home</a>
</body>
</html>
